#map {
    height: 80vh; /* Ajusta la altura del mapa según prefieras */
  }
  
  .logo-container {
    height: 100px;
    width: 100px;
  }
  
  .logo-img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Ajusta la imagen para que se vea bien dentro del contenedor */
  }
  
  .rating {
    display: flex;
  }
  
  .star {
    font-size: 26.4px;
    color: #ccc;
    cursor: pointer;
  }
  
  .star.selected {
    color: gold; /* Color de las estrellas seleccionadas */
  }
  